*.sh
*.bat

CHANGELOG
LICENSE.txt

temp/
runtime/
reobf/
mappingviewer/
logs/
lib/
eclipse/
docs/
conf/
bin/
assets/default_minecraft/
jars/assets/
jars/crash-reports/
jars/libraries/
jars/logs/
jars/resourcepacks/
jars/minecraft_server.jar
jars/server.properties
jars/server.dat
jars/usercache.json